### Customer Loyalty

In [1]:
import pandas as pd
import numpy as np

In [2]:
# lists all of the users who have visited the website
customers = pd.read_csv("C:/Users/ushai/Dropbox/Data Science/1.Temp_CODE FILES/Unit_5_TensorFlow and Keras/Final Project/customers_data.csv")
customers.head()

,Unnamed: 0,purch_amt,gender,card_on_file,age,days_since_last_purch,loyalty
0,0,19.58,male,no,31.0,35.0,False
1,1,65.16,male,yes,23.0,61.0,False
2,2,40.60,female,no,36.0,49.0,False
3,3,38.01,male,yes,47.0,57.0,False
4,4,22.32,female,yes,5.0,39.0,False

### Exploratory Analysis

In [3]:
# Checking shape of the data
customers.shape

(120000, 7)

In [4]:
# Conducting exploratory analysis
customers.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,120000.0,59999.500000,34641.160489,0.00,29999.75,59999.50,89999.25,119999.0
purch_amt,120000.0,44.036234,20.473148,-43.95,30.21,43.97,57.83,142.2
age,120000.0,25.803008,10.153072,-22.00,19.00,26.00,33.00,71.0
days_since_last_purch,120000.0,56.605908,16.422187,-9.00,45.00,57.00,68.00,125.0

In [5]:
# Counting values for card_on_file
customers.card_on_file.value_counts()

yes    60087
no     59913
Name: card_on_file, dtype: int64

In [6]:
# Counting values for loyalty
customers.loyalty.value_counts()

False    100000
True      20000
Name: loyalty, dtype: int64

In [7]:
# Using the group by function to assess data using days since last purchase.
days_since_last_purchase = customers.groupby(['days_since_last_purch']).mean()[['purch_amt','age']]

In [8]:
# Following is a list of customers who can be expected to becocme members of our loyalty program.
days_since_last_purchase.head()

                       purch_amt    age
days_since_last_purch
-9.0                     70.6800  35.00
-8.0                     57.8200  21.00
-6.0                     64.5900  25.50
-5.0                     41.4575  40.25
-4.0                     56.4800  25.00

In [9]:
# selecting columns with condition.
customers_new = customers[(customers['purch_amt'] >=45 ) & (customers['card_on_file'] == 'yes') \
                         & (customers['days_since_last_purch'] <= 30) & (customers['loyalty'] == False)\
                         & (customers['age'] >= 25)]

In [10]:
customers_new.shape

(293, 7)

In [11]:
customers_new

,Unnamed: 0,purch_amt,gender,card_on_file,age,days_since_last_purch,loyalty
1147,1147,61.94,female,yes,38.0,29.0,False
1184,1184,45.09,male,yes,36.0,19.0,False
1364,1364,51.87,male,yes,34.0,26.0,False
1751,1751,66.89,male,yes,32.0,24.0,False
1976,1976,75.57,female,yes,40.0,12.0,False
2046,2046,93.52,male,yes,27.0,29.0,False
2082,2082,65.40,female,yes,31.0,30.0,False
3537,3537,52.59,female,yes,38.0,22.0,False
4904,4904,68.90,male,yes,32.0,25.0,False
4962,4962,46.40,male,yes,27.0,20.0,False
5373,5373,59.03,female,yes,33.0,30.0,False
6138,6138,45.05,male,yes,27.0,24.0,False
6949,6949,68.55,male,yes,40.0,29.0,False
7136,7136,45.57,male,yes,32.0,28.0,False
7336,7336,59.01,male,yes,38.0,24.0,False
7914,7914,52.70,female,yes,26.0,24.0,False
8247,8247,59.47,female,yes,38.0,24.0,False
8673,8673,67.02,male,yes,26.0,27.0,False
8808,8808,49.21,male,yes,30.0,30.0,False
8845,8845,46.41,female,yes,37.0,26.0,False
9053,9053,57.40,female,yes,37.0,28.0,False
9279,9279,46.00,male,yes,27.0,20.0,False
9645,9645,82.89,male,yes,37.0,23.0,False
9875,9875,65.79,male,yes,45.0,30.0,False
9901,9901,76.46,male,yes,26.0,17.0,False
10440,10440,76.31,male,yes,44.0,29.0,False
11043,11043,48.61,male,yes,28.0,30.0,False
11238,11238,61.78,male,yes,25.0,27.0,False
11266,11266,56.74,female,yes,28.0,30.0,False
12909,12909,45.58,female,yes,29.0,26.0,False
...,...,...,...,...,...,...,...
106679,106679,64.15,female,yes,40.0,22.0,False
106829,106829,65.81,female,yes,29.0,28.0,False
107682,107682,65.15,female,yes,32.0,27.0,False
108275,108275,59.13,male,yes,37.0,25.0,False
108348,108348,50.48,female,yes,27.0,27.0,False
108425,108425,53.92,male,yes,25.0,27.0,False
109049,109049,46.46,male,yes,26.0,28.0,False
109666,109666,64.49,female,yes,38.0,30.0,False
110611,110611,59.97,male,yes,28.0,22.0,False
110757,110757,71.23,male,yes,43.0,28.0,False
111306,111306,47.46,male,yes,45.0,27.0,False
111527,111527,80.56,male,yes,33.0,28.0,False
112518,112518,48.78,female,yes,41.0,17.0,False
112588,112588,50.87,male,yes,26.0,30.0,False
113695,113695,57.98,female,yes,27.0,27.0,False
115206,115206,73.13,female,yes,31.0,26.0,False
115382,115382,51.78,female,yes,31.0,29.0,False
115392,115392,55.59,male,yes,33.0,18.0,False
115448,115448,49.46,male,yes,27.0,15.0,False
115799,115799,45.67,female,yes,34.0,23.0,False
116249,116249,58.55,male,yes,27.0,22.0,False
116273,116273,64.46,female,yes,41.0,29.0,False
116310,116310,76.85,female,yes,47.0,28.0,False
117313,117313,52.41,female,yes,38.0,24.0,False
117440,117440,72.87,female,yes,28.0,19.0,False
117472,117472,62.84,female,yes,31.0,25.0,False
117670,117670,63.11,male,yes,46.0,27.0,False
119577,119577,45.42,female,yes,32.0,20.0,False
119684,119684,59.62,male,yes,35.0,16.0,False
119991,119991,64.26,female,yes,40.0,29.0,False